.portfolio-page {
    .category-menu-button {
        width: 100%;
        @media (width >= 40rem) {
            width: 150px;
        }
        .cp-pixel-box-wrapper {
            width: 100%;
        }
    }

    .category-menu-select {
        width: 100%;
        @media (width >= 40rem) {
            width: 150px;
        }
        .cp-pixel-box-content-inner {
            width: 100%;
        }
    }

    .category-desc-box {
        width: 100%;
        .cp-pixel-box-wrapper {
            width: 100%;
            height: 200px;
        }
    }
}
