.portfolio-page {
    .cp-select-box-wrapper,
    .cp-pixel-box-wrapper {
        width: 100%;
        @media (width >= 40rem) {
            width: 150px;
        }
    }

    .menu {
        .cp-button-box-wrapper {
            @media (width >= 40rem) {
                width: 150px;
                height: 150px;
            }
        }
    }

    .category-desc-box {
        width: 100%;
        .cp-pixel-box-wrapper {
            width: 100%;
            height: 200px;
        }
    }
}
