/* style for mobile device lower than 768px */
@media (max-width: 767.98px) {

  .header {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
  }


  .navbar-brand img {
    position: relative;
    left: 10px;
    top: 10px;
  }

  .navbar .menu {
    border-color: white;
    position: relative;
    top: 10px;
    right: 30px;

  }

  .ipad {
      display: none;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    width: 20px;

  }

  .register {
    background-color: #afd04d;
    border-color: #afd04d;
    position: relative;
    left: 40px;
    width: 100px;

  }

  .login {
    border-color: #afd04d;
    color: #939393;
    position: relative;
    right: 40px;
    width: 80px;
  }

  .banner {
    height: 500px;
    background-image: url("../images/title-background.jpg");
    background-size: 250%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .banner .banner-content {
    padding: 70px 20px 0 20px;
  }

  .banner .banner-content .title h1 {
    font-size: 2em;
    color: white;
  }

  .banner .banner-content .description h3 {
    color: #c7ec5a;
    font-size: 18px;
    display: block;
    line-height: 22px;
  }

  .banner .banner-form {
    margin-top: -80px;
    padding: 0 30px;
  }

  .banner .banner-form input, .join .form input{
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    height: 50px;
    padding-left: 20px;
  }

  .banner .banner-form button, .join .form button {
    background-color: #9cc145;
    border-color: #9cc145;
    height: 50px;

  }

  .banner .banner-form ::-webkit-input-placeholder{
    color: black;
  }
  .banner .banner-form :-ms-input-placeholder { /* IE 10+ */
    color: black;
  }
  .banner .banner-form ::-moz-placeholder { /* Firefox 19+ */
    color: black;
    opacity: 1;
  }
  .banner .banner-form :-moz-placeholder { /* Firefox 4 - 18 */
    color: black;
    opacity: 1;
  }

  .protect {
    min-height: 300px;
  }

  .protect .item li {
    list-style: none;
    font-size: 18px;
  }

  .protect .item li:before {
    content: '';
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url("../images/check.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    top: 6px;
    right: 10px;

  }

  .protect .icon img{
    width: 100%;
  }

  .benefits {
    min-height: 300px;
    background-color: #2d679a;
    padding-top: 30px;
  }

  .benefits .title h1 {
    color: white;
  }

  .benefits .description p {
    color: #cdcfd1;
    font-size: 24px;
    line-height: 25px;
  }

  .benefits .icon img {
    width: 60px;
  }

  .benefits .text{
    color: white;
    padding-bottom: 30px;
  }

  .steps {
    min-height: 300px;
    padding-top: 30px;
    background-color: #f6f6f6;
  }

  .steps .icon img{
    width: 100%;
  }

  .steps .sub-title{
    color: #24537f;
  }

  .steps .circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #6a89a7;
    display: inline-block;
    color: white;
    padding-top: 60px;
    margin-bottom: 20px;

  }

  .steps .circle span {
    font-size: 28px;
  }

  .join {
    min-height: 300px;
    background-color: #376189;
    padding-top: 50px;
  }

  .join .title h1 {
    color: white;
    font-size: 50px;
  }

  .join .description p {
    color: white;
  }

  .join .form-container {
    padding: 30px;
  }

  .join .form {
    background-color: #a8b9cb;
    border-radius: 10px;
    padding: 50px 20px 50px 20px;
  }

  .join .form .title h1 {
    color: black;
    font-size: 34px;
  }

  .join .form button {
    background: rgb(168,202,74); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(168,202,74,1) 0%, rgba(139,178,61,1) 44%, rgba(109,153,49,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(168,202,74,1) 0%,rgba(139,178,61,1) 44%,rgba(109,153,49,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(168,202,74,1) 0%,rgba(139,178,61,1) 44%,rgba(109,153,49,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8ca4a', endColorstr='#6d9931',GradientType=1 ); /* IE6-9 */
    border-color: #9cc145;
    height: 50px;
  }

  .footer {
    height: 100px;
    padding-top: 40px;
    background-color: #2E2E2E;
  }

  .footer li a, .footer li {
    font-size: 12px;
    padding: 0 3px 0 3px;
    color: #579ad5;
  }

  .footer li {
    color: white;
  }

  .footer .first:before {
    content: '\00a9';
    display: inline-block;
    height: 10px;
    width: 10px;


  }


}

/* styling specifically for ipad/tablet */
@media (min-width: 768px) and (max-width: 1023.99px ) {
  .navbar {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .navbar li {
    margin-right: 10px;
    color: #b9b9b9;
  }

  .ipad {
      display: block;
  }

  .ipad .register {
    background-color: #afd04d;
    border-color: #afd04d;
    position: relative;
    left: 340px;
    top: -55px;
    width: 100px;

  }

  .ipad .login {
    border-color: #afd04d;
    color: #939393;
    position: relative;
    left: 100px;
    top: -55px;
    width: 80px;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    width: 20px;

  }

  .navbar .menu {
    border-color: white;
    position: relative;
    top: 5px;
    right: 430px;

  }


  .navbar .register {
    background-color: #afd04d;
    border-color: #afd04d;
    width: 140px;
    height: 45px;
  }

  .navbar .login {
    border-color: #afd04d;
    color: #939393;
    width: 120px;
    height: 45px;
  }

  .navbar .no-ipad {
    display: none;
  }

  .banner {
    height: 600px;
    background: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
    ),
    url("../images/title-background.jpg");
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .banner .banner-content {
    padding: 140px 20px 0 20px;
  }

  .banner .banner-content .title h1 {
    font-size: 3em;
    color: white;
    padding-bottom: 10px;
  }

  .banner .banner-content .description h3 {
    color: #c7ec5a;
    font-size: 24px;
    display: block;
    line-height: 22px;
  }

  .banner .banner-form {
    margin-top: -100px;
    padding: 0 30px;
  }

  .banner .banner-form input, .join .form input{
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    height: 50px;
    padding-left: 20px;
  }

  .banner .banner-form button, .join .form button {
    background-color: #9cc145;
    border-color: #9cc145;
    height: 50px;

  }

  .banner .banner-form ::-webkit-input-placeholder{
    color: black;
  }
  .banner .banner-form :-ms-input-placeholder { /* IE 10+ */
    color: black;
  }
  .banner .banner-form ::-moz-placeholder { /* Firefox 19+ */
    color: black;
    opacity: 1;
  }
  .banner .banner-form :-moz-placeholder { /* Firefox 4 - 18 */
    color: black;
    opacity: 1;
  }

  .protect {
    min-height: 300px;
    padding-bottom: 200px;
  }

  .protect .rotate h6 {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    top: 300px;
    right: 180px;
    width: 400px;
    padding: 0;
    letter-spacing: 3px;
    font-size: 12px;
    text-transform: uppercase;
    color: #24537f;
  }

  .protect .title h1 {
    color: #24537f;
    text-align: left;
    padding: 100px 0 0 0;
  }

  .protect .content {
    padding: 0 100px 0 15px;
  }

  .protect ul {
    position: relative;
    left: -30px;
  }

  .protect .item li {
    list-style: none;
    font-size: 18px;
  }

  .protect .item li:before {
    content: '';
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url("../images/check.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    top: 6px;
    right: 10px;

  }

  .protect .button button {
    position: relative;
    top: 20px;
    left: 20px;
    background-color: #235480;
    border-color: #235480;
    font-size: 14px;
    height: 40px;
    width: 120px;
  }

  .protect .icon img{
    width: 65%;
    position: relative;
    top: 200px;

  }

  .benefits {
    min-height: 300px;
    background: rgb(39,90,137); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(39,90,137,1) 0%, rgba(47,106,157,1) 24%, rgba(39,90,137,1) 50%, rgba(47,106,157,1) 79%, rgba(39,90,137,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(39,90,137,1) 0%,rgba(47,106,157,1) 24%,rgba(39,90,137,1) 50%,rgba(47,106,157,1) 79%,rgba(39,90,137,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(39,90,137,1) 0%,rgba(47,106,157,1) 24%,rgba(39,90,137,1) 50%,rgba(47,106,157,1) 79%,rgba(39,90,137,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#275a89', endColorstr='#275a89',GradientType=0 ); /* IE6-9 */
    padding-top: 30px;
    padding-bottom: 150px;
  }

  .benefits .title h1 {
    color: white;
    padding: 70px 0 0 0;
  }

  .benefits .description p {
    color: #cdcfd1;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    padding-bottom: 50px;
  }

  .benefits .icon img {
    width: 40px;
  }

  .benefits .text{
    color: white;
    padding-bottom: 30px;
  }

  .steps {
    min-height: 300px;
    padding-top: 70px;
    padding-bottom: 150px;
    background-color: #f6f6f6;
  }

  .steps .icon img{
    width: 100%;
    padding-top: 100px;
  }

  .steps .content {
    padding: 0 50px 50px 0;
  }

  .steps .content .title {
    color: #24537f;
  }

  .steps .sub-title{
    color: #24537f;
    padding-top: 280px;
  }

  .steps .sub-title h1{
    font-size: 30px;
    padding: 0 10px;
    text-align: left;
  }

  .steps .list {
    padding-top: 230px;
  }

  .steps .circle{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #6a89a7;
    display: inline-block;
    color: white;
    padding-top: 60px;
    margin-bottom: 20px;

  }

  .steps .circle span {
    font-size: 28px;
  }

  .steps .rotate h6 {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    top: 300px;
    right: 180px;
    width: 400px;
    padding: 0;
    letter-spacing: 3px;
    font-size: 12px;
    text-transform: uppercase;
    color: #24537f;
  }

  .join {
    min-height: 300px;
    background-color: #376189;
    padding-top: 50px;
  }

  .join .content {
    padding: 70px 20px 50px 30px;
  }

  .join .title h1 {
    color: white;
    font-size: 45px;
    padding: 0;
  }

  .join .description p {
    color: white;
    padding-left: 10px;
  }

  .join .form-container {
    padding: 50px 70px 100px 40px;
  }

  .join .form {
    background-color: #a8b9cb;
    border-radius: 10px;
    padding: 50px 40px 100px 40px;
  }

  .join .form input {
    margin-bottom: 10px;
  }
  .join .form .title h1 {
    color: black;
    font-size: 34px;
  }

  .join .form button {
    background: rgb(168,202,74); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(168,202,74,1) 0%, rgba(139,178,61,1) 44%, rgba(109,153,49,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(168,202,74,1) 0%,rgba(139,178,61,1) 44%,rgba(109,153,49,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(168,202,74,1) 0%,rgba(139,178,61,1) 44%,rgba(109,153,49,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8ca4a', endColorstr='#6d9931',GradientType=1 ); /* IE6-9 */
    border-color: #9cc145;
    height: 50px;
  }

  .footer {
    height: 100px;
    padding-top: 40px;
    background-color: #2E2E2E;
  }

  .footer li a, .footer li {
    font-size: 12px;
    padding: 0 3px 0 3px;
    color: #579ad5;
  }

  .footer li {
    color: white;
  }

  .footer .first:before {
    content: '\00a9';
    display: inline-block;
    height: 10px;
    width: 10px;


  }


}


/* Styling for desktop */
@media (min-width: 1024px) {
  .navbar {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .navbar li {
    margin-right: 10px;
    color: #b9b9b9;
  }

  .navbar .register {
    background-color: #afd04d;
    border-color: #afd04d;
    width: 140px;
    height: 45px;
  }

  .ipad {
      display: none;
  }

  .navbar .login {
    border-color: #afd04d;
    color: #939393;
    width: 120px;
    height: 45px;
  }

  .banner {
    height: 600px;
    background: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
    ),
    url("../images/title-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .banner .banner-content {
    padding: 140px 20px 0 20px;
  }

  .banner .banner-content .title h1 {
    font-size: 3em;
    color: white;
    padding-bottom: 10px;
  }

  .banner .banner-content .description h3 {
    color: #c7ec5a;
    font-size: 24px;
    display: block;
    line-height: 22px;
  }

  .banner .banner-form {
    margin-top: -100px;
    padding: 0 30px;
  }

  .banner .banner-form input, .join .form input{
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    height: 50px;
    padding-left: 20px;
  }

  .banner .banner-form button, .join .form button {
    background-color: #9cc145;
    border-color: #9cc145;
    height: 50px;

  }

  .banner .banner-form ::-webkit-input-placeholder{
    color: black;
  }
  .banner .banner-form :-ms-input-placeholder { /* IE 10+ */
    color: black;
  }
  .banner .banner-form ::-moz-placeholder { /* Firefox 19+ */
    color: black;
    opacity: 1;
  }
  .banner .banner-form :-moz-placeholder { /* Firefox 4 - 18 */
    color: black;
    opacity: 1;
  }

  .protect {
    min-height: 300px;
    padding-bottom: 200px;
  }

  .protect .rotate h6 {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    top: 300px;
    right: 180px;
    width: 400px;
    padding: 0;
    letter-spacing: 3px;
    font-size: 12px;
    text-transform: uppercase;
    color: #24537f;
  }

  .protect .title h1 {
    color: #24537f;
    text-align: left;
    padding: 200px 0 0 0;
  }

  .protect .content {
    padding: 0 200px 0 15px;
  }

  .protect ul {
    position: relative;
    left: -30px;
  }

  .protect .item li {
    list-style: none;
    font-size: 18px;
  }

  .protect .item li:before {
    content: '';
    display: inline-block;
    height: 30px;
    width: 30px;
    background-image: url("../images/check.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    top: 6px;
    right: 10px;

  }

  .protect .button button {
    position: relative;
    top: 20px;
    left: 20px;
    background-color: #235480;
    border-color: #235480;
    font-size: 14px;
    height: 40px;
    width: 120px;
  }

  .protect .icon img{
    width: 65%;
    position: relative;
    top: 200px;
    right: 100px;
  }

  .benefits {
    min-height: 300px;
    background: rgb(39,90,137); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(39,90,137,1) 0%, rgba(47,106,157,1) 24%, rgba(39,90,137,1) 50%, rgba(47,106,157,1) 79%, rgba(39,90,137,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(39,90,137,1) 0%,rgba(47,106,157,1) 24%,rgba(39,90,137,1) 50%,rgba(47,106,157,1) 79%,rgba(39,90,137,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(39,90,137,1) 0%,rgba(47,106,157,1) 24%,rgba(39,90,137,1) 50%,rgba(47,106,157,1) 79%,rgba(39,90,137,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#275a89', endColorstr='#275a89',GradientType=0 ); /* IE6-9 */
    padding-top: 30px;
    padding-bottom: 150px;
  }

  .benefits .title h1 {
    color: white;
    padding: 70px 0 0 0;
  }

  .benefits .description p {
    color: #cdcfd1;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    padding-bottom: 50px;
  }

  .benefits .icon img {
    width: 40px;
  }

  .benefits .text{
    color: white;
    padding-bottom: 30px;
  }

  .steps {
    min-height: 300px;
    padding-top: 70px;
    padding-bottom: 150px;
    background-color: #f6f6f6;
  }

  .steps .icon img{
    width: 100%;
  }

  .steps .content {
    padding: 150px 50px 50px 0;
  }

  .steps .content .title {
    color: #24537f;
  }

  .steps .sub-title{
    color: #24537f;
    padding-top: 300px;
  }

  .steps .sub-title h1{
    font-size: 50px;
    padding: 0 50px;
    text-align: left;
  }

  .steps .list {
    padding-top: 230px;
  }

  .steps .circle{
    width: 245px;
    height: 245px;
    border-radius: 50%;
    background-color: #6a89a7;
    display: inline-block;
    color: white;
    padding-top: 60px;
    margin-bottom: 20px;

  }

  .steps .circle span {
    font-size: 28px;
  }

  .steps .rotate h6 {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    top: 300px;
    right: 180px;
    width: 400px;
    padding: 0;
    letter-spacing: 3px;
    font-size: 12px;
    text-transform: uppercase;
    color: #24537f;
  }

  .join {
    min-height: 300px;
    background-color: #376189;
    padding-top: 50px;
  }

  .join .content {
    padding: 70px 70px 50px 130px;
  }

  .join .title h1 {
    color: white;
    font-size: 45px;
    padding: 0;
  }

  .join .description p {
    color: white;
    padding-left: 10px;
  }

  .join .form-container {
    padding: 50px 170px 100px 80px;
  }

  .join .form {
    background-color: #a8b9cb;
    border-radius: 10px;
    padding: 50px 40px 100px 40px;
  }

  .join .form input {
    margin-bottom: 10px;
  }
  .join .form .title h1 {
    color: black;
    font-size: 34px;
  }

  .join .form button {
    background: rgb(168,202,74); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(168,202,74,1) 0%, rgba(139,178,61,1) 44%, rgba(109,153,49,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(168,202,74,1) 0%,rgba(139,178,61,1) 44%,rgba(109,153,49,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(168,202,74,1) 0%,rgba(139,178,61,1) 44%,rgba(109,153,49,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8ca4a', endColorstr='#6d9931',GradientType=1 ); /* IE6-9 */
    border-color: #9cc145;
    height: 50px;
  }

  .footer {
    height: 100px;
    padding-top: 40px;
    background-color: #2E2E2E;
  }

  .footer li a, .footer li {
    font-size: 12px;
    padding: 0 3px 0 3px;
    color: #579ad5;
  }

  .footer li {
    color: white;
  }

  .footer .first:before {
    content: '\00a9';
    display: inline-block;
    height: 10px;
    width: 10px;


  }


}
