.about-grid
    .cp-button-container
    .cp-pixel-box-content-inner
    .cp-button-text-container-second-layer {
    cursor: crosshair;
    font-size: 12px;
    font-family: inherit;

    @media (width >= 40rem) {
        font-size: 24px;
    }
}

.about-grid {
    .cp-button-box-wrapper {
        @media (width >= 40rem) {
            min-width: 130px;
            height: 130px;
        }
    }
}

.exit-modal {
    @media (width >= 40rem) {
        width: 800px;
    }
}

#cp-input-text-score {
    text-align: center;
    font-size: 24px;
}
