.about-grid
    .cp-button-container
    .cp-pixel-box-content-inner
    .cp-button-text-container-second-layer {
    cursor: crosshair;
    font-size: 12px;
    font-family: inherit;
}

.about-grid {
    .cp-pixel-box-wrapper {
        min-width: 80px;
        height: 80px;

        @media (width >= 40rem) {
            min-width: 130px;
            height: 130px;
        }
    }
}

.exit-modal {
    width: 300px;
    height: 300px;
}
